In [10]:
import pandas as pd
import numpy as np

In [11]:
df_srs_wr = pd.read_csv("sample-dataset/dataset-with-replacement.csv")

In [12]:
df_srs_wr

,Unnamed: 0,title,text,label
0,0,IT’S CHRISTMAS IN OCTOBER: American Debt Is $1...,This one sentence should scare every taxpaying...,Real
1,1,High School Forced to Change Mascot over Accus...,A school district in Kentucky has canceled the...,Fake
2,2,Vanguard CEO 'encouraged' by efforts to revise...,(Reuters) - Vanguard Group Chief Executive Bil...,Fake
3,3,UNREAL! CBS’S TED KOPPEL Tells Sean Hannity He...,,Real
4,4,I’m Running Out of Popcorn – Harvey Organ,Let us have a look at the data for today \n. \...,Real
...,...,...,...,...
18028,18028,"Maher: When GOP Goes Low, Democrats Should ’Ki...",WARNING: ADULT CONTENT] Friday night during h...,Fake
18029,18029,"MAINE GOVERNOR joins Kansas, Texas, and New Je...","MAINE GOVERNOR joins Kansas, Texas, and New Je...",Real
18030,18030,"Eastern Libyan force says ""terrorist group"" pr...","BENGHAZI, Libya (Reuters) - A terrorist group...",Fake
18031,18031,"Core Wounds, Soul Family Reunions, and Time Gl...",Click Here To Learn More About Alexandra's Per...,Real
18032,18032,Kremlin says Russia not accused in U.S. case a...,MOSCOW (Reuters) - The Kremlin said on Tuesday...,Fake

In [17]:
df_srs_wr.drop(["Unnamed: 0"], axis=1, inplace=True)

In [18]:
df_srs_wr = df_srs_wr.fillna('')

In [19]:
df_srs_wr[df_srs_wr.isnull().any(axis=1)]

Empty DataFrame
Columns: [title, text, label]
Index: []

In [20]:
df_srs_wr.shape

(18033, 3)